<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
	<meta charset="UTF-8" >	
	<link rel="stylesheet" href="bind.css">
	<script src="../lib/angular/angular.min.js"></script>
	
    <script src="bind.js"></script>
	</head>
	<body ng-controller="cartCtrl">
	yes - <div >{{username}}</div>
		<div >
            <br />
            
			<table border="1">
				 
				<thead>
					<tr>
						<td>Name</td>
						<td>Priec</td>
						<td>Quantity</td>
                        <td>Remove Item</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td >{{item.Name}}</td>
						<td>{{item.Price}}</td>
						<td>{{item.Quantity}}</td>
						<td><input type="button" value="Remove" ng-click="removeItem($index)" ></td>
					</tr>
				</tbody>
			</table>
			<br />
			<div>Total Price: {{totalPrice()}}</div>
			<br />
			<table>
				<tr>
					<td>Name: </td>
					<td><input type="text" ng-model="item.Name" /></td>
				</tr>
				<tr>
					<td>Price: </td>
					<td><input type="text" ng-model="item.Price" /></td>
				</tr>
				<tr>
					<td>Quantity: </td>
					<td><input type="text" ng-model="item.Quantity" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="Button" value="Add" ng-click="addItem(item)" /> </td>
					
				</tr>
			</table>
		</div>
	
	
	</body>
</html>